<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Direcciones IP de <%= link_to @subnet.cidr, subnet_path(@subnet) %></h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>IP</th>
              <th>En uso</th>
              <th>Acciones</th>
            </tr>
          </thead>

          <tbody>
            <% @addresses.each do |address| %>
              <tr>
                <td><%= address.ip %></td>
                <td><%= address.active ? "Si" : "No" %></td>
                <td>
                  <%#= link_to(icon('search'), address_path(address)) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
